@import "tailwindcss";
@import "@heroui/styles"; 

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}




/* Forces nested rich-text elements to stay inline so line-clamp works perfectly */
.prose-xs-strip * {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}



@theme {
  --color-brand-50: #fff4ed;
  --color-brand-100: #ffead5;
  --color-brand-200: #fed0aa;
  --color-brand-300: #feaf73;
  --color-brand-400: #fc8c4a; /* Your original color fits perfectly here as the 400/500 base */
  --color-brand-500: #fa6115;
  --color-brand-600: #eb460b; /* Shifted original slightly down for better text contrast */
  --color-brand-700: #c3320b;
  --color-brand-800: #9b2911;
  --color-brand-900: #7c2512;
  --color-brand-950: #430f07;
}