@import "tailwindcss";
@import "@heroui/styles"; 

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}




/* Forces nested rich-text elements to stay inline so line-clamp works perfectly */
.prose-xs-strip * {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
